.messenger-spinner
  span.messenger-spinner-side.messenger-spinner-side-left
    span.messenger-spinner-fill
  span.messenger-spinner-side.messenger-spinner-side-right
    span.messenger-spinner-fill
